# build files
_build/
build/

# binary files
*.o
*.out
*.byte
*.native
/discover
/normalizer

# temporary files
*.bc
*.ll
*.ast
*.log
*.dbg
tmp
infer-out
*.xml
logs

# solidity files
*.contract
*.abi
*.wasm

# macOS temp files
.DS_Store

# configuration files
_tags
dune-project
configure
myocamlbuild.ml
setup.ml
setup.data
setup.log

# Emacs temporary files
.ccls-cache

# vim files
*.swp
